<section class="flex bg-light py-5 px-3">
    <h2>Reuniones</h2>
    <div class="mx-auto max-w-md w-100 rounded bg-white p-2 shadow">
        <div class="d-flex justify-content-end">
            <form [formGroup]="filterForm" (ngSubmit)="applyFilters()">
                <div class="d-flex gap-2">

                    <input class="form-control" type="date" formControlName="startDate" placeholder="Fecha inicio">
                    <input class="form-control" type="date" formControlName="endDate" placeholder="Fecha fin">
                    <input class="form-control" type="text" formControlName="employee" placeholder="Empleado...">
                    <input class="form-control" type="text" formControlName="description" placeholder="Descripción...">
                    <div class="d-flex gap-1">
                        <div class="btn-group">
                            <button class="btn btn-outline-secondary dropdown-toggle"
                                data-bs-toggle="dropdown">Estado</button>
                            <ul class="dropdown-menu">
                                @for (concept of concepts; track $index) {
                                <li class="border-bottom p-2">
                                    <input type="checkbox" name="concept" value="">
                                    {{concept}}
                                </li>
                                }
                            </ul>
                        </div>
                    </div>
                    <div class="btn-group">
                        <button class="btn btn-outline-secondary" (click)="applyFilters()"><i
                                class="fas fa-search"></i></button>
                        <button class="btn btn-outline-secondary" (click)="resetFilters()"><i
                                class="fas fa-delete-left text-danger"></i></button>
                    </div>


                </div>
            </form>
        </div>
        <table class="table caption-bottom text-sm">
            <thead class="">
                <tr>
                    <th class="text-start align-middle"></th>
                    <th class="text-start align-middle">ID</th>
                    <th class="text-start align-middle">REPORTÓ</th>
                    <th class="text-start align-middle">FECHA - LUGAR - CONVOCÓ</th>
                    <th class="text-start align-middle">AREA - DESCRIPCIÓN</th>
                    <th class="text-start align-middle">ORDEN DEL DÍA</th>
                    <th class="text-start align-middle">ACCIONES</th>
                </tr>
            </thead>
            <tbody>
                @for (meeting of filteredMeetings; track meeting.meeting_id) {
                <tr>
                    <td class="align-middle">
                        <span class="badge">
                            <i class="fas fa-check-circle"
                            style="color: #1b9123; background-color: #fff"></i>
                        </span>
                    </td>
                    <td class="align-middle">{{ meeting.meeting_id }}</td>
                    <td class="align-middle">{{ meeting.created_by }}</td>
                    <td class="align-middle">{{ meeting.meeting_date }} - {{meeting.placement}}, <br> {{ meeting.called_by }}</td>
                    <td class="align-middle">{{ meeting.meeting_description }}</td>
                    <td class="align-middle">

                    </td>
                    <td class="align-middle">
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-outline-secondary"><i
                                    class="fas fa-check"></i></button>
                            <button type="button" class="btn btn-outline-secondary"><i class="fas fa-edit"></i></button>
                            <button type="button" class="btn btn-outline-secondary"><i
                                    class="fas fa-print"></i></button>
                            <a [routerLink]="['/', 'tasks', 'new']" class="btn btn-outline-secondary"><i
                                    class="fas fa-th-list"></i></a>
                            <button type="button" class="btn btn-outline-secondary"><i class="fas fa-eye"></i></button>
                        </div>
                    </td>
                </tr>
                } @empty {
                <tr>
                    <td colspan="7" class="text-center">No se encontraron reuniones.</td>
                </tr>
                }
            </tbody>
        </table>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item disabled"><a class="page-link">Previous</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
        </nav>
    </div>
    <div class="d-flex justify-content-end m-2 gap-2">
        <a routerLink="add-meetings" class="btn btn-lg rounded-circle btn-primary border-0 add-button"><i
                class="fas fa-plus"></i></a>
        <a routerLink="/tasks/new" class="btn btn-lg rounded-circle btn-primary border-0"><i
                class="fas fa-clipboard-list"></i></a>
    </div>
</section>