<div class="d-flex flex-wrap column bg-light py-5 px-3 justify-content-center">
  <div class="d-flex">
    @if (isEditMode) {
      <h2 class="text-center fw-bold">Editar cartera</h2>
      } @else if (isReadOnly) {
      <h2 class="text-center fw-bold">Ver cartera</h2>
      } @else {
      <h2 class="text-center fw-bold">Agregar cartera</h2>
      }
  </div>
  <div class="d-flex justify-content-center">
    <div class="card w-75 p-0">
      <div class="card-body d-flex column justify-content-center">
        <div class="col-sm-6 p-1 px-2 d-flex row gap-3">
          <form class="d-inline-flex" [formGroup]="walletForm" (ngSubmit)="onSubmit()">
            <div class="p-1 px-2 d-flex row gap-3">
              <h6 class="fw-bold m-0">Datos</h6>
              <div class="input-group">
                <span class="input-group-text"><i class="fas fa-signature"></i></span>
                <input type="text" class="form-control p-0 ps-2" id="obligation_description" required
                  formControlName="obligation_description" placeholder="Descripción..."  [ngClass]="{ 'is-invalid': submitted && f['obligation_description'].errors }"/>
                  @if (submitted && f['obligation_description'].errors) {
                    <div class="invalid-feedback">
                      @if (f['obligation_description'].errors['required']) {
                      <div>Descripcion de la cartera requerido</div>
                      }
                    </div>
                    }
              </div>
    
              <div class="input-group">
                <span class="input-group-text"><i class="fas fa-stopwatch"></i></span>
                <input type="number" class="form-control p-0 ps-2" id="quantity" required formControlName="quantity" min="1"
                  max="365" value="1"  [ngClass]="{ 'is-invalid': submitted && f['quantity'].errors }"/>
                  @if (submitted && f['quantity'].errors) {
                    <div class="invalid-feedback">
                      @if (f['quantity'].errors['required']) {
                      <div>Plazo de cartera requerido</div>
                      }
                    </div>
                    }
                <select class="form-select p-0 ps-2" id="period" required formControlName="period">
                  <option selected>Sin definir</option>
                  <option>Día(s)</option>
                  <option>Semana(s)</option>
                  <option>Mes(es)</option>
                  <option>Año(s)</option>
                </select>
              </div>
              <div class="input-group">
                <span class="input-group-text"><i class="fas fa-bell"></i></span>
                <input type="number" class="form-control p-0 ps-2" id="alert_time" required formControlName="alert_time"
                  min="0" max="60" value="15"  [ngClass]="{ 'is-invalid': submitted && f['alert_time'].errors }"/>
                <span class="input-group-text p-0 ps-2">días previos</span>
                @if (submitted && f['alert_time'].errors) {
                  <div class="invalid-feedback">
                    @if (f['alert_time'].errors['required']) {
                    <div>Tiempo de alerta requerido</div>
                    }
                  </div>
                  }
              </div>
              <div class="input-group">
                <span class="input-group-text"><i class="fas fa-comment"></i></span>
                <textarea formControlName="observations" id="observations" class="form-control" cols="50" rows="5"
                  placeholder="Observaciones..."></textarea>
              </div>
            </div>
          </form>
        </div>
        @if (isReadOnly) {
        <div class="vr"></div>
        
          <div class="col-sm-6 p-1 px-2 d-flex justify-content-center row gap-3">
            <app-table-payments  [ngStyle]="{'max-height':'100%'}"></app-table-payments>
          </div>
        }
      </div>

      @if (!isReadOnly) {
      <div class="card-footer d-flex justify-content-end">
        <button class="btn btn-success" type="submit" (click)="onSubmit()">
          <i class="fas {{ isEditMode ? 'fa-rotate-right' : 'fa-plus' }}"></i> {{ isEditMode ? 'ACTUALIZAR' :
          'AGREGAR' }}
        </button>
      </div>
      }
      
    </div>
  </div>
</div>