<div class="d-flex row bg-light py-5 px-3 justify-content-center">
  @if (isEditMode) {
  <h2 class="text-center fw-bold">Editar reunión</h2>
  } @else {
  <h2 class="text-center fw-bold">Convocar reunión</h2>
  }

  <div class="card w-75 p-0">
    <div class="card-body">
      <form class="d-inline-flex" [formGroup]="meetingForm" (ngSubmit)="onSubmit()">
        <div class="col-sm-6 p-1 px-2 d-flex row gap-3">
          <h6 class="fw-bold m-0">Datos</h6>
          <div class="d-inline-flex gap-2 py-0">
            <div class="input-group">
              <span class="input-group-text"><i class="fas fa-calendar-day"></i></span>
              <input type="date" class="form-control p-0 ps-2" id="date" required formControlName="meeting_date" [ngClass]="{ 'is-invalid': submitted && f['meeting_date'].errors }"/>
              @if (submitted && f['meeting_date'].errors) {
                <div class="invalid-feedback">
                  @if (f['meeting_date'].errors['required']) {
                  <div>Fecha requerido</div>
                  }
                </div>
                }
            </div>
            <div class="input-group">
              <span class="input-group-text"><i class="fas fa-clock"></i></span>
              <input type="time" class="form-control p-0 ps-2" id="time" required formControlName="start_hour" [ngClass]="{ 'is-invalid': submitted && f['start_hour'].errors }"/>
              @if (submitted && f['start_hour'].errors) {
                <div class="invalid-feedback">
                  @if (f['start_hour'].errors['required']) {
                  <div>Hora requerido</div>
                  }
                </div>
                }
            </div>
          </div>
          <div class="input-group position-relative">
            <span class="input-group-text"><i class="fas fa-microphone"></i></span>
            <input type="hidden" id="called_by" formControlName="called_by" />
            <input class="form-control p-0 ps-2" id="called_by_visible" formControlName="called_by_name" type="text"
              size="50" placeholder="Seleccione vinculado..." autocomplete="off" required (input)="onSearch()"
              (focus)="showDropdown = true" [ngClass]="{ 'is-invalid': submitted && f['called_by_name'].errors }"/>
              @if (submitted && f['called_by_name'].errors) {
                <div class="invalid-feedback">
                  @if (f['called_by_name'].errors['required']) {
                  <div>Convocado por es requerido</div>
                  }
                </div>
                }
            <ul class="dropdown-menu w-75" [class.show]="showDropdown" *ngIf="filteredUsers.length"
              style="margin-top: 32px; margin-left: 35px">
              <li *ngFor="let user of filteredUsers" class="dropdown-item" (click)="selectUser(user)">
                {{user.first_name}} {{user.last_name}}
              </li>
            </ul>
          </div>
          <div class="input-group">
            <span class="input-group-text"><i class="fas fa-location-dot"></i></span>
            <input type="text" class="form-control p-0 ps-2" id="placement" required formControlName="placement"
              placeholder="Lugar de la reunión..." [ngClass]="{ 'is-invalid': submitted && f['placement'].errors }"/>
              @if (submitted && f['placement'].errors) {
                <div class="invalid-feedback">
                  @if (f['placement'].errors['required']) {
                  <div>Lugar requerido</div>
                  }
                </div>
                }
          </div>
          <div class="input-group">
            <span class="input-group-text"><i class="fas fa-signature"></i></span>
            <input type="text" class="form-control p-0 ps-2" id="meeting_description" required
              formControlName="meeting_description" placeholder="Descripción de la reunión..." [ngClass]="{ 'is-invalid': submitted && f['meeting_description'].errors }"/>
              @if (submitted && f['meeting_description'].errors) {
                <div class="invalid-feedback">
                  @if (f['meeting_description'].errors['required']) {
                  <div>Descripcion de la reunion requerido</div>
                  }
                </div>
                }
          </div>

          <div class="input-group my-2">
            <span class="input-group-text"><i class="fas fa-users"></i></span>
            <div class="form-control position-relative">
              <input type="hidden" formControlName="assistant_id" />
              <input class="form-control p-0 ps-2" id="assistant_id_visible" formControlName="assistant_name"
                type="text" size="50" placeholder="Seleccione vinculado..." autocomplete="off"
                (input)="onSearchAssistant()" (focus)="showDropdownAssistant = true" />
              <ul class="dropdown-menu w-100" [class.show]="showDropdownAssistant" *ngIf="filteredUsers.length"
                style="margin-top: 0px;">
                <li *ngFor="let user of filteredUsers" class="dropdown-item" (click)="selectAssistant(user)">
                  {{user.first_name}} {{user.last_name}}
                </li>
              </ul>
              <div *ngIf="selectedAssistants.length" class="d-flex flex-row flex-wrap mt-2 gap-1">
                <span *ngFor="let assistant of selectedAssistants"
                  class="badge text-bg-light border border-secondary d-inline-flex align-items-center justify-content-between m-0 p-1 gap-1">
                  @if (assistant.user_id && assistant.status == 2) {
                    <span class="align-middle m-0 p-0">{{assistant.user_id.first_name}} {{assistant.user_id.last_name}}</span>
                  }
                  <span class="align-middle m-0 p-0">{{assistant.first_name}} {{assistant.last_name}}</span>
                  
                  <button type="button" class="btn-close btn-sm m-0 p-0" (click)="removeAssistant(assistant)"></button>
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="vr"></div>

        <div class="col-sm-6 p-1 px-2 d-flex flex-column gap-2">
          <h6 class="fw-bold mb-2">Orden de hoy</h6>
          <div class="d-flex gap-1">
            <div class="input-group">
              <span class="input-group-text"><i class="fas fa-comment-dots"></i></span>
              <select class="form-select p-0 ps-2" id="type" formControlName="type" required>
                <option>Orden del día</option>
                <option>Desarrollo</option>
                <option>Pendiente</option>
              </select>
              <input type="text" class="form-control w-25 p-0 ps-2" id="topic" formControlName="topic"
                placeholder="Anotaciones..." />
            </div>
            <div class="d-flex-wrap align-content-center">
              <button type="button" class="btn btn-sm btn-success" name="action" title="Enviar" (click)="addTopic()">
                <i class="fas fa-paper-plane"></i>
              </button>
            </div>
          </div>
          <div class="mt-4" style="height:11em; overflow-y:scroll;">
            <ul class="d-flex gap-1 row">
              <li class="d-flex align-items-center border border-secondary rounded w-75"
                *ngFor="let topic of topicList; let i = index">
                <button type="button" class="btn btn-close btn-sm p-2" (click)="removeTopic(topic.topic_id)"
                  *ngIf="topic.status==2"></button>
                <div class="px-2 {{topic.status==1 ? 'text-decoration-line-through' : ''}}">
                  {{ topic.topic }}
                </div>
              </li>
            </ul>
          </div>
        </div>
      </form>
    </div>
    <div class="card-footer d-flex justify-content-end">
      <button class="btn btn-success" type="submit" (click)="onSubmit()">
        <i class="fas {{ isEditMode ? 'fa-rotate-right' : 'fa-plus' }}"></i> {{ isEditMode ? 'ACTUALIZAR' :
        'AGREGAR' }}
      </button>
    </div>
  </div>
</div>