<div class="d-flex row bg-light py-5 px-3 justify-content-center">
  @if (isEditMode) {
    <h2 class="text-center fw-bold">Editar reunión</h2>
  } @else {
    <h2 class="text-center fw-bold">Convocar reunión</h2>
  }
  
  <div class="card w-75 p-0">
    <div class="card-body">
      <form class="d-inline-flex" [formGroup]="meetingForm" (ngSubmit)="onSubmit()">
        <div class="col-sm-6 p-1 px-2 d-flex row gap-3">
          <h6 class="fw-bold m-0">Datos</h6>
          <div class="d-inline-flex gap-2 py-0">
            <div class="input-group">
              <span class="input-group-text"><i class="fas fa-calendar-day"></i></span>
              <input type="date" class="form-control p-0 ps-2" id="date" required formControlName="meeting_date" />
            </div>
            <div class="input-group">
              <span class="input-group-text"><i class="fas fa-clock"></i></span>
              <input type="time" class="form-control p-0 ps-2" id="time" required formControlName="start_hour" />
            </div>
          </div>
          <div class="input-group">
            <span class="input-group-text"><i class="fas fa-microphone"></i></span>
            <input type="text" class="form-control p-0 ps-2" id="called_name" required formControlName="called_by"
              placeholder="Seleccione vinculado..." />
          </div>
          <div class="input-group">
            <span class="input-group-text"><i class="fas fa-location-dot"></i></span>
            <input type="text" class="form-control p-0 ps-2" id="placement" required formControlName="placement"
              placeholder="Lugar de la reunión..." />
          </div>
          <div class="input-group">
            <span class="input-group-text"><i class="fas fa-signature"></i></span>
            <input type="text" class="form-control p-0 ps-2" id="meeting_description" required formControlName="meeting_description"
              placeholder="Descripción de la reunión..." />
          </div>
          <div class="input-group">
            <span class="input-group-text"><i class="fas fa-users"></i></span>
            <input type="text" class="form-control p-0 ps-2" id="assistant_id" required formControlName="assistant_id"
              placeholder="Seleccione vinculado..." />
          </div>
        </div>

        <div class="vr"></div>

        <div class="col-sm-6 p-1 px-2 d-flex flex-column gap-2">
          <h6 class="fw-bold mb-2">Orden de hoy</h6>
          <div class="d-flex gap-1">
            <div class="input-group">
              <span class="input-group-text"><i class="fas fa-comment-dots"></i></span>
              <select class="form-select p-0 ps-2" id="topyc_type" formControlName="topyc_type" required>
                <option>Orden del dia</option>
                <option>Desarrollo</option>
                <option>Pendiente</option>
              </select>
              <input type="text" class="form-control w-25 p-0 ps-2" id="comment" formControlName="topics" required placeholder="Anotaciones..." />
            </div>
            <div class="d-flex-wrap align-content-center">
              <button type="button" class="btn btn-sm btn-success" name="action" title="Enviar" (click)="addTask()">
                <i class="fas fa-paper-plane"></i>
              </button>
            </div>
          </div>
          <div class="mt-4">
            <ul class="d-flex gap-1 row">
              @for (task of taskList; track $index) {
                <li class="d-flex align-items-center border border-secondary rounded">
                  <button type="button" class="btn btn-close btn-sm p-2" (click)="removeTask($index)"></button>
                  <div class="px-2">
                    {{ task.comment }}
                  </div>
                  
                </li>
              }
              
            </ul>
          </div>
        </div>
      </form>
    </div>
    <div class="card-footer d-flex justify-content-end">
      <button class="btn btn-success" type="submit" (click)="onSubmit()">
        <i class="fas fa-plus"></i> AGREGAR
      </button>
    </div>
  </div>
</div>