<div class="container mt-5">
    <div class="d-flex justify-content-between align-items-end">
        <div>
            <img src="asovalvi.png" alt="" style="width: 150px;">
            <h4>ACTA NO. {{ meeting.meeting_id }}</h4>
        </div>
        <div class="">
            <p class="fw-bolder">{{ meeting.meeting_date }}</p>
        </div>
    </div>

    <table class="table table-bordered">

        <tbody>
            <tr>
                <th>REUNION CONVOCADA POR</th>
                <td>{{meeting.called_by.first_name}} {{meeting.called_by.last_name}}</td>
            </tr>
            <tr>
                <th>TIPO DE REUNION</th>
                <td>{{acta.tipoReunion}}</td>
            </tr>
            <tr>
                <th>ORGANIZADOR</th>
                <td>{{meeting.created_by.first_name}} {{meeting.created_by.last_name}}</td>
            </tr>
            <tr>
                <th>APUNTADOR</th>
                <td>{{acta.apuntador}}</td>
            </tr>
            <tr>
                <th>ASISTENTES</th>
                <td>@for (assistant of assistants; track $index) {
                    {{assistant.user_id.first_name}} {{assistant.user_id.last_name}} <br>
                    }</td>
            </tr>
            <tr>
                <th>ORDEN DEL DÍA</th>
                <td>
                    <ol class="list-group-numbered m-0 fw-bold">
                        <li *ngFor="let topic of topics" class="list-group-item">
                            @if (topic.type === 'Orden del día') {
                            {{ topic.topic }}
                            }
                        </li>
                    </ol>
                </td>
            </tr>
            @for (task of acta.temas; track $index) {
            <tr>
                <th>TEMA {{$index + 1}}</th>
                <td class="fw-bold">{{task.titulo}}</td>
            </tr>
            <tr>
                <th>DISCUSION</th>
                <td>{{task.discusion}}</td>
            </tr>
            }
        </tbody>
    </table>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">COMPROMISO DEL MES</th>
                <th scope="col">RESPONSABLE</th>
                <th scope="col">PLAZO</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>{{acta.organizador}}</td>
                <td>{{acta.organizador}}</td>
                <td>{{acta.organizador}}</td>
            </tr>
            <tr>
                <td>{{acta.tipoReunion}}</td>
                <td>{{acta.tipoReunion}}</td>
                <td>{{acta.tipoReunion}}</td>
            </tr>

        </tbody>
    </table>
    <div class="d-flex justify-content-start text-center gap-4 mt-5 mb-5">
        <div class="border-top border-dark text-start" style="flex-basis: 30%;">
            <p class="m-0">Director Ejecutivo</p>
        </div>
        <div class="border-top border-dark text-start" style="flex-basis: 30%;">
            <p class="m-0">Secretario(a)</p>
        </div>
    </div>
</div>