<main class="flex bg-light py-5 px-3">
    <div class="mx-auto max-w-md w-25 rounded bg-white p-4 shadow">
        <h2 class="mb-4 text-center h4 fw-bold">Registrar usuario</h2>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="mb-3 form-group">
                <label class="form-label" for="first_name">
                    Nombres
                </label>
                <input class="form-control bg-light focus-green" type="first_name" formControlName="first_name" name="first_name"
                    placeholder="Ingresar nombres" [ngClass]="{ 'is-invalid': submitted && f['first_name'].errors }"/>
                    @if (submitted && f['first_name'].errors) {
                        <div class="invalid-feedback">
                          @if (f['first_name'].errors['required']) {
                          <div>Nombres requeridos</div>
                          }
                        </div>
                        }
            </div>
            <div class="mb-3">
                <label class="form-label" for="last_name">
                    Apellidos
                </label>
                <input class="form-control bg-light focus-green" name="last_name" formControlName="last_name"
                    placeholder="Ingresar apellidos" type="text" [ngClass]="{ 'is-invalid': submitted && f['last_name'].errors }"/>
                    @if (submitted && f['last_name'].errors) {
                        <div class="invalid-feedback">
                          @if (f['last_name'].errors['required']) {
                          <div>Apellidos requeridos</div>
                          }
                        </div>
                        }
            </div>
            <div class="mb-3">
                <label class="form-label" for="email">
                    Correo electrónico
                </label>
                <input class="form-control bg-light focus-green" name="email" formControlName="email"
                    placeholder="Ingresar correo" type="email" [ngClass]="{ 'is-invalid': submitted && f['email'].errors }"/>
                    @if (submitted && f['email'].errors) {
                        <div class="invalid-feedback">
                          @if (f['email'].errors['required']) {
                          <div>Correo requerido</div>
                          }
                        </div>
                        }
            </div>
            <div class="mb-3">
                <label class="form-label">Tipo de usuario</label>
                <select formControlName="user_type" class="form-select bg-light focus-green" id="user_type" required>
                    <option selected>Escoge un tipo de usuario</option>
                    <option>Asociado(a)</option>
                    <option>Secretario(a)</option>
                    <option>Cartera</option>
                    <option>Administrador(a)</option>
                </select>
                @if (submitted && f['user_type'].errors) {
                <div class="invalid-feedback">
                    @if (f['user_type'].errors['required']) {
                    <div>Fecha iniciales requerido</div>
                    }
                </div>
                }
            </div>
            <div class="mb-3">
                <label class="form-label">Número de documento</label>
                <input type="text" formControlName="document_number" class="form-control bg-light focus-green"
                    id="document_number" required placeholder="Número de documento..."
                    [ngClass]="{ 'is-invalid': submitted && f['document_number'].errors }" />
                @if (submitted && f['document_number'].errors) {
                <div class="invalid-feedback">
                    @if (f['document_number'].errors['required']) {
                    <div>Número de documento requerido</div>
                    }
                </div>
                }
            </div>
            <div class="mb-3">
                <label class="form-label" for="password">
                    Contraseña
                </label>
                <input class="form-control bg-light focus-green" name="password" formControlName="password"
                    placeholder="Ingresar contraseña" type="password" [ngClass]="{ 'is-invalid': submitted && f['password'].errors }"/>
                    @if (submitted && f['password'].errors) {
                        <div class="invalid-feedback">
                          @if (f['password'].errors['required']) {
                          <div>Contraseña requerido</div>
                          }
                        </div>
                        }
            </div>
        </form>
        <button class="btn btn-success w-100 fw-bold" type="submit" (click)="onSubmit()">
            Registrar
        </button>
    </div>
</main>