<header class="d-flex align-items-center justify-content-between bg-white px-3 shadow-sm" style="height: 4rem;">
  <div class="d-flex align-items-center gap-1">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
      stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="h-6 w-6" style="color: #4caf50;">
      <circle cx="12" cy="12" r="3"></circle>
      <path d="M12 16.5A4.5 4.5 0 1 1 7.5 12 4.5 4.5 0 1 1 12 7.5a4.5 4.5 0 1 1 4.5 4.5 4.5 4.5 0 1 1-4.5 4.5"></path>
      <path d="M12 7.5V9"></path>
      <path d="M7.5 12H9"></path>
      <path d="M16.5 12H15"></path>
      <path d="M12 16.5V15"></path>
      <path d="m8 8 1.88 1.88"></path>
      <path d="M14.12 9.88 16 8"></path>
      <path d="m8 16 1.88-1.88"></path>
      <path d="M14.12 14.12 16 16"></path>
    </svg>
    <h1 class="h5 fw-bold m-0">ASOVALVI</h1>
  </div>
  <nav class="d-flex align-items-center gap-3">
    @if (isLoggedIn) {
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link" routerLink="/meetings" [routerLinkActiveOptions]="{ exact: true }"
          routerLinkActive="bg-success active">Reuniones</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/tasks" [routerLinkActiveOptions]="{ exact: true }"
          routerLinkActive="bg-success active">Tareas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/wallet" [routerLinkActiveOptions]="{ exact: true }"
          routerLinkActive="bg-success active">Cartera</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/users" [routerLinkActiveOptions]="{ exact: true }"
          routerLinkActive="bg-success active">Usuarios</a>
      </li>
    </ul>
    }
    @if (isLoggedIn) {
    <button class="btn btn-outline-danger d-flex justify-content-center px-2 py-2 rounded-circle" (click)="logout()">
      <i class="fa-solid fa-power-off"></i>
    </button>
    } @else {
    <div>
      <a class="btn btn-outline-success" routerLink="/login" routerLinkActive="bg-success active">Iniciar sesión</a>
    </div>
    <div>
      <a class="btn btn-outline-success" routerLink="/register" routerLinkActive="bg-success active">Registrarse</a>
    </div>
    }
  </nav>
</header>