<div class="d-flex row bg-light py-5 px-3 justify-content-center">
    @if (isEditMode) {
    <h2 class="text-center fw-bold">Editar tarea</h2>
    } @else if (isReadOnly) {
    <h2 class="text-center fw-bold">Ver tarea</h2>
    } @else {
    <h2 class="text-center fw-bold">Agregar tarea</h2>
    }
    <div class="card w-50 p-0">
        <div class="card-body">
            <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
                <div class="p-1 px-2 d-flex row gap-3">
                    <h6 class="fw-bold m-0">Datos</h6>
                    @if (isEditMode || isReadOnly) {
                        
                        @if (meetingId !== null) {
                            <div class="d-inline-flex flex-row gap-2">
                                <div class="input-group">
                                    <span class="input-group-text"><i class="fas fa-circle-info"></i></span>
                                    <input class="form-control p-0 ps-2" type="text" size="50" formControlName="meeting_description" />
                                </div>
                            </div>
                        }
                    
                    }
                    <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-calendar-day"></i></span>
                        <input type="date" formControlName="start_date" class="form-control p-0 ps-2" id="date" required [ngClass]="{ 'is-invalid': submitted && f['start_date'].errors }"/>
                        @if (submitted && f['start_date'].errors) {
                            <div class="invalid-feedback">
                              @if (f['start_date'].errors['required']) {
                              <div>Fecha iniciales requerido</div>
                              }
                            </div>
                            }
                    </div>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-stopwatch"></i></span>
                        <input type="number" formControlName="estimated_time" class="form-control p-0 ps-2" id="number"
                            required min="0" max="9999" placeholder="Tiempo..." [ngClass]="{ 'is-invalid': submitted && f['estimated_time'].errors }"/>
                            
                        <select formControlName="units" class="form-select p-0 ps-2" id="units" required>
                            <option selected>Sin definir</option>
                            <option>Minuto(s)</option>
                            <option>Hora(s)</option>
                            <option>Día(s)</option>
                            <option>Semana(s)</option>
                            <option>Mes(es)</option>
                        </select>
                        @if (submitted && f['estimated_time'].errors) {
                            <div class="invalid-feedback">
                              @if (f['estimated_time'].errors['required']) {
                              <div>Fecha iniciales requerido</div>
                              }
                            </div>
                            }
                    </div>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-signature"></i></span>
                        <input type="text" formControlName="task_description" class="form-control p-0 ps-2"
                            id="task_description" required placeholder="Descripción..." [ngClass]="{ 'is-invalid': submitted && f['task_description'].errors }"/>
                            @if (submitted && f['task_description'].errors) {
                                <div class="invalid-feedback">
                                  @if (f['task_description'].errors['required']) {
                                  <div>Descripción de la tarea requerido</div>
                                  }
                                </div>
                                }
                    </div>

                    <div class="input-group position-relative">
                        <span class="input-group-text"><i class="fas fa-helmet-safety"></i></span>
                        <input type="hidden" id="assigned_to" formControlName="assigned_to" />
                        <input class="form-control p-0 ps-2" id="assigned_to_visible" formControlName="assigned_to_name" type="text" size="50" placeholder="Seleccione vinculado..." autocomplete="off" (input)="onSearch()" (focus)="showDropdown = true" />
                        <ul class="dropdown-menu w-75" [class.show]="showDropdown" *ngIf="filteredUsers.length" style="margin-top: 32px; margin-left: 35px">
                          <li *ngFor="let user of filteredUsers" class="dropdown-item" (click)="selectUser(user)">
                            {{user.first_name}} {{user.last_name}}
                          </li>
                        </ul>
                      </div>

                    <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-comment"></i></span>
                        <textarea formControlName="observations" id="observations" class="form-control" cols="50"
                            rows="5" placeholder="Observaciones..."></textarea>
                    </div>
                </div>

            </form>

        </div>
        @if (!isReadOnly) {
        <div class="card-footer d-flex justify-content-end">
            <button class="btn btn-success" type="submit" (click)="onSubmit()">

                <i class="fas {{ isEditMode ? 'fa-rotate-right' : 'fa-plus' }}"></i> {{ isEditMode ? 'ACTUALIZAR' :
                'AGREGAR' }}
            </button>
        </div>
        }
    </div>
</div>