<section class="flex bg-light py-5 px-3">
  <h2>Tareas</h2>
  <div class="mx-auto max-w-md w-100 rounded bg-white p-2 shadow">
    <div class="d-flex justify-content-end">
      <form [formGroup]="filterForm" (ngSubmit)="applyFilters()">
        <div class="d-flex gap-2">
          <input class="form-control" type="date" formControlName="startDate">
          <input class="form-control" type="date" formControlName="endDate">
          <input class="form-control" type="text" formControlName="employee" placeholder="ID/Nombre empleado...">
          <input class="form-control" type="text" formControlName="description" placeholder="Descripción...">
          <div class="d-flex gap-1">
            <div class="btn-group">
              <button class="btn btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown">Concepto</button>
              <ul class="dropdown-menu">
                @for (concept of concepts; track $index) {
                <li class="border-bottom p-2">
                  <input type="checkbox" name="concept" value="">
                  {{concept}}
                </li>
                }
              </ul>
            </div>
            <div class="btn-group">
              <button class="btn btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown">Área</button>
              <ul class="dropdown-menu">
                @for (concept of concepts; track $index) {
                <li class="border-bottom p-2">
                  <input type="checkbox" name="concept" value="">
                  {{concept}}
                </li>
                }
              </ul>
            </div>
            <div class="btn-group">
              <button class="btn btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown">Estado</button>
              <ul class="dropdown-menu">
                @for (concept of concepts; track $index) {
                <li class="border-bottom p-2">
                  <input type="checkbox" name="concept" value="">
                  {{concept}}
                </li>
                }
              </ul>
            </div>
          </div>
          <div class="btn-group">
            <button class="btn btn-outline-secondary" type="submit"><i class="fas fa-search"></i></button>
            <button class="btn btn-outline-secondary" type="button" (click)="resetFilters()"><i
                class="fas fa-delete-left text-danger"></i></button>
          </div>
        </div>
      </form>
    </div>
    <table class="table caption-bottom text-sm">
      <thead>
        <tr>
          <th></th>
          <th>ID</th>
          <th>REPORTÓ</th>
          <th>FECHA - TIEMPO - ESTADO</th>
          <th>RESPONSABLE - ÁREA</th>
          <th>DESCRIPCIÓN - OBSERVACIONES</th>
          <th>ACCIONES</th>
        </tr>
      </thead>
      <tbody>
        @for (task of filteredTasks; track task.task_id) {
        <tr>
          <td class="align-middle">
            <span class="badge"><i class="fas fa-check-circle"
                style="color: #1b9123; background-color: #fff"></i></span>
          </td>
          <td class="align-middle">{{task.task_id}}<br>[{{task.meeting_id}}]</td>
          <td class="align-middle">John Doe</td>
          <td class="align-middle">{{task.start_date}}, Nursery HQ</td>
          <td class="align-middle">Landscaping, Discuss new planting plans</td>
          <td class="align-middle">
            <ul class="list-unstyled">
              {{task.task_description}}
              <li>Review current projects</li>
              <li>Discuss new initiatives</li>
              <li>Budget planning</li>
            </ul>
          </td>
          <td class="align-middle justify-content-center">
            <div class="btn-group" role="group" aria-label="Basic example">
              <a type="button" class="btn btn-outline-secondary" [routerLink]="['/', 'tasks', task.task_id, 'edit']"><i
                  class="fas fa-edit"></i></a>
              <a type="button" class="btn btn-outline-secondary" [routerLink]="['/', 'tasks', task.task_id]"><i
                  class="fas fa-eye"></i></a>
              <a type="button" class="btn btn-outline-secondary" [routerLink]="['/', 'tasks', task.task_id]"><i
                  class="fas fa-trash"></i></a>
            </div>
          </td>
        </tr>
        } @empty {
        <tr>
          <td colspan="7" class="text-center">No se encontraron tareas.</td>
        </tr>
        }
      </tbody>
    </table>
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li class="page-item disabled"><a class="page-link">Previous</a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
      </ul>
    </nav>
  </div>
  <div class="d-flex justify-content-end m-2 gap-2">
    <a class="btn btn-lg rounded-circle btn-primary border-0 add-button" routerLink="/tasks/new"><i
        class="fas fa-plus"></i></a>
  </div>
</section>