<section class="flex bg-light py-5 px-3">
  <h2>Tareas</h2>
  <div class="mx-auto max-w-md w-100 rounded bg-white p-2 shadow">
    <div class="d-flex justify-content-end">
      <form [formGroup]="filterForm" (ngSubmit)="applyFilters()">
        <div class="d-flex gap-2">
          <input class="form-control" type="date" formControlName="startDate">
          <input class="form-control" type="date" formControlName="endDate">
          <input class="form-control" type="text" formControlName="employee" placeholder="ID/Nombre empleado...">
          <input class="form-control" type="text" formControlName="description" placeholder="Descripción...">
          <div class="d-flex gap-1">
            <div class="btn-group">
              <button class="btn btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown">Estado</button>
              <ul class="dropdown-menu">
                @for (state of status; track $index) {
                <li class="border-bottom p-2">
                  <input type="checkbox" [checked]="statusFormArray.value.includes(state)"
                    (change)="onStatusChange($event, state)">
                  {{ state }}
                </li>
                }
              </ul>
            </div>
          </div>
          <div class="btn-group">
            <button class="btn btn-outline-secondary" type="submit"><i class="fas fa-search"></i></button>
            <button class="btn btn-outline-secondary" type="button" (click)="resetFilters()"><i
                class="fas fa-delete-left text-danger"></i></button>
          </div>
        </div>
      </form>
    </div>
    <table class="table table-hover caption-bottom text-sm">
      <thead>
        <tr>
          <th></th>
          <th>ID</th>
          <th>REPORTÓ</th>
          <th>FECHA - TIEMPO EST.</th>
          <th>RESPONSABLE</th>
          <th>DESCRIPCIÓN - OBSERVACIONES</th>
          <th class="text-end">ACCIONES</th>
        </tr>
      </thead>
      <tbody>
        @for (task of filteredTasks; track $index) {
        <tr [class.table-danger]="task.status.status === 5 || task.status.status === 8"
          [class.table-warning]="task.status.status === 6" [class.table-success]="task.status.status === 7">
          <td class="align-middle">
            @if (task.status.status == 5) {
            <span class="badge">
              <i class="fas fa-exclamation-triangle" style="color: #AA0000; font-size: 1em"></i>
            </span>
            } @else if (task.status.status == 6) {
            <span class="badge">
              <i class="fas fa-exclamation-triangle" style="color: #FF9966; font-size: 1em"></i>
            </span>
            } @else if (task.status.status == 7) {
            <span class="badge">
              <i class="fas fa-check-circle" style="color: #009900; font-size: 1em"></i>
            </span>
            } @else {
            <span class="badge">
              <i class="fas fa-trash" style="color: #AA0000; font-size: 1em"></i>
            </span>
            }
          </td>
          <td class="align-middle">{{task.task_id}}<br> @if (task.meeting) {[{{task.meeting.meeting_id}}]}</td>
          <td class="align-middle">{{task.created_by.first_name}}</td>
          <td class="align-middle">{{task.start_date}}@if (task.estimated_time) {, <br>{{task.estimated_time}}
            {{task.units}}}</td>
          <td class="align-middle">@if (task.assigned_to) { {{ task.assigned_to.first_name }} }</td>
          <td class="align-middle">
            {{task.task_description}}
            <br>
            {{task.observations}}
          </td>
          <td class="d-flex justify-content-end p-3">
            <div class="btn-group" role="group">
              @if (task.status.status == 6) {
              <a type="button" class="btn btn-outline-secondary" (click)="completeTask(task.task_id)"><i
                  class="fas fa-check"></i></a>
              }
              @if (task.status.status != 7 && task.status.status != 8) {
              <a type="button" class="btn btn-outline-secondary" (click)="editTaskWithoutMeeting(task.task_id)"><i
                  class="fas fa-edit"></i></a>
              <a type="button" class="btn btn-outline-secondary" (click)="rejectTask(task.task_id)"><i
                  class="fas fa-trash"></i></a>
              }

              <a type="button" class="btn btn-outline-secondary" (click)="viewTaskWithoutMeeting(task.task_id)"><i
                  class="fas fa-eye"></i></a>

            </div>
          </td>
        </tr>
        } @empty {
        <tr>
          <td colspan="7" class="text-center">No se encontraron tareas.</td>
        </tr>
        }
      </tbody>
    </table>
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li class="page-item disabled"><a class="page-link">Previous</a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
      </ul>
    </nav>
  </div>
  <div class="d-flex justify-content-end m-2 gap-2">
    <button class="btn btn-lg rounded-circle btn-primary border-0 add-button" (click)="createTaskWithoutMeeting()"><i
        class="fas fa-plus"></i></button>
  </div>
</section>