<app-section-header 
  [title]="'Tareas'"
  (search)="applyFilters($event)"
  (reset)="resetFilters()">
</app-section-header>

<app-data-table 
  [columns]="columns" 
  [data]="paginatedTasks" 
  [currentPage]="currentPage"
  [totalPages]="totalPages"
  (previousPage)="changePage(currentPage - 1)"
  (nextPage)="changePage(currentPage + 1)"
  (viewItem)="viewTaskWithoutMeeting($event)"
  (editItem)="editTaskWithoutMeeting($event)" 
  (completeItem)="completeTask($event)"
  (rejectItem)="rejectTask($event)">
</app-data-table>

<!-- Add button for creating a new task -->
<div class="d-flex justify-content-end m-2 gap-2">
  <button class="btn btn-lg rounded-circle btn-primary border-0 add-button" (click)="createTaskWithoutMeeting()">
    <i class="fas fa-plus"></i>
  </button>
</div>

<!-- Loading and error messages -->
<div *ngIf="isLoading" class="text-center">
  <p>Cargando tareas...</p>
</div>

<div *ngIf="errorMessage" class="alert alert-danger">
  {{ errorMessage }}
</div>