<div class="flex flex-col sm:flex-row gap-4 items-start sm:items-center justify-between">
    <h1 class="text-2xl font-bold text-gray-900">{{title}}</h1>
    <div class="flex flex-col sm:flex-row gap-3 w-full sm:w-auto">
        <div class="flex gap-2">
            <input type="date" class="w-40" placeholder="dd/mm/yyyy">
            <input type="date" class="w-40" placeholder="dd/mm/yyyy">
        </div>
        <select name="" id="">
            <option value="">Estado</option>
            <option value="1">Todos</option>
            <option value="2">Pendiente</option>
            <option value="3">Finalizado</option>
        </select>
        <button>
            <lucide-angular [img]="searchIcon" class="h-4 w-4"></lucide-angular>
        </button>
        <button>
            <lucide-angular [img]="filterIcon" class="h-4 w-4"></lucide-angular>
        </button>
    </div>
</div>