<div class="container mt-5">
    <div class="d-flex justify-content-between align-items-end">
        <div>
            <img src="asovalvi.png" alt="" style="width: 150px;">
            <h4>ACTA NO. {{ meeting.meeting_id }}</h4>
        </div>
        <div class="">
            <p class="fw-bolder">{{ meeting.meeting_date }}</p>
        </div>
    </div>

    <table class="table table-bordered">

        <tbody class="report">
            <tr>
                <th>REUNION CONVOCADA POR</th>
                <td>{{meeting.called_by.first_name}} {{ meeting.called_by.last_name}}</td>
            </tr>
            <tr>
                <th>TIPO DE REUNION</th>
                <td>Reunion virtual</td>
            </tr>
            <tr>
                <th>ORGANIZADOR</th>
                <td>{{meeting.created_by.first_name}} {{meeting.created_by.last_name}}</td>
            </tr>
            <tr>
                <th>APUNTADOR</th>
                <td>{{meeting.secretary.first_name}} {{meeting.secretary.last_name}}</td>
            </tr>
            <tr>
                <th>ASISTENTES</th>
                <td>
                    <ol class="list-group-numbered m-0">
                        @for (assistant of assistants; track $index) {
                            <li class="list-group-item">
                                {{assistant.user_id.first_name}} {{assistant.user_id.last_name}}
                            </li>
                            
                            }
                    </ol>
                    </td>
            </tr>
            <tr>
                <th>ORDEN DEL DÍA</th>
                <td>
                    <ol class="list-group-numbered m-0 fw-bold">
                        @for (topic of topics; track $index) {
                        @if (topic.type === 'Orden del día' && topic.status === 2) {
                        <li class="list-group-item">
                            {{ topic.topic }}
                        </li>
                        }
                        }

                    </ol>
                </td>
            </tr>
            @for (topic of topics; track $index) {
            @if (topic.type === 'Desarrollo' && topic.status === 2) {
            <tr>
                <th>TEMA {{$index + 1}}</th>
                <td [innerHTML]="topic.formattedTopic"></td>
            </tr>
            }
            }
        </tbody>
    </table>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">COMPROMISO DEL MES</th>
                <th scope="col">RESPONSABLE</th>
                <th scope="col">PLAZO</th>
            </tr>
        </thead>

        <tbody>
            @for (task of tasks; track $index) {
            <tr>
                <td>{{task.task_description}}</td>
                <td>@if (!task.assigned_to) {N/A} @else {{{task.assigned_to.first_name}} {{task.assigned_to.last_name}}}
                </td>
                <td>{{task.estimated_time}} {{task.units}}</td>
            </tr>
            }

        </tbody>
    </table>
    <div class="d-flex justify-content-start text-center gap-4 mb-5" style="margin-top: 80px;">
        <div class="border-top border-dark text-start" style="flex-basis: 30%;">
            <p class="m-0 fw-bold text-uppercase">{{meeting.director.first_name}} {{meeting.director.last_name}}</p>
            <p class="m-0">Director Ejecutivo</p>
        </div>
        <div class="border-top border-dark text-start" style="flex-basis: 30%;">
            <p class="m-0 fw-bold text-uppercase">{{meeting.secretary.first_name}} {{meeting.secretary.last_name}}</p>
            <p class="m-0">Secretario(a)</p>
        </div>
    </div>
</div>