/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fraunces", serif;
}
body {
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 15px;
}

.add-button {
  background-color: #198754;
}

.add-button:hover {
  background-color: #126840;
}
