/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";


/* Configuración global para el fondo animado */
html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  overflow-x: hidden;
}

/* Asegurar que el contenido esté por encima del fondo */
app-root {
  position: relative;
  z-index: 1;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    overflow-x: hidden;
    font-family: "Geist", sans-serif;
  }
}